<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header text-white bg-dark" th:text="${title}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a th:href="@{'/historiasclinicas/list'}"
						class="btn btn-light btn-xs">&laquo; Regresar</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Paciente'"></li>
					<li class="list-group-item"
						th:text="${patient.firstName}+ ' ' +  ${patient.lastName} "></li>
					<li class="list-group-item" th:text="${patient.dni}"></li>
					<li class="list-group-item"
						th:text="${patient.numberClinicalHistory}"></li>
				</ul>


				<!-- <ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Consulta Medica'"></li>
					<li class="list-group-item" th:text="'Numero ' + ${historiaclinica.id}"></li>
					<li class="list-group-item"
						th:text="'Fecha ' + ${historiaclinica.createAt}"></li>
				</ul> -->

				<table th:if="${not #lists.isEmpty(historiaclinica)}" class="table">
					<thead class="thead-dark">
						<tr>
							<th>ID CONSULTA MEDICA</th>
							<th>FECHA DE CONSULTA</th>
							<th>Ver Detalle</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="historia: ${historiaclinica}">
							<td th:text="${historia.id}"></td>
							<td th:text="${historia.createAt}"></td>
							<td><a class="btn btn-secondary btn-xs"
								th:href="@{'/historiasclinicas/detail/'+ ${historia.id}}"
								th:text="'Detalle'"></a></td>
						</tr>
					</tbody>

				</table>

				<h4 class="card-title">
					<a th:href="@{'/historiasclinicas/list'}"
						class="btn btn-light btn-xs">&laquo; Regresar</a>
				</h4>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>