
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<table th:fragment="itemsMedicalConsultation" class="d-none">

		<tbody id="templateItemsMedicalConsultation">
			<tr id="row_{ID}">

				<td>
					<div class="form-group">
						<textarea name="diagnostic[]" class="form-control rounded-0"
							id="diagnostic_{ID}" rows="2"></textarea>

					</div>
				</td>
				<td>
					<div class="form-group">
						<textarea name="treatment[]" class="form-control rounded-0"
							id="treatment_{ID}" rows="2"></textarea>

					</div>
				</td>

				<td><a href="#" class="btn btn-danger btn-xs"
					onclick="itemsHelper.deleteLineMedicalConsultation({ID});">x</a></td>
			</tr>

		</tbody>

	</table>

</body>
</html>