<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {
			var item = 0;
			$('#agregarItem').click(function() {
				
				var line = $("#templateItemsMedicalConsultation").html();
				
				item = item + 1;
				line = line.replace(/{ID}/g, item);
				
				$("#loadItemMedicalConsultations tbody").append(line);

				return false;
			});
			
			$("form").submit(function(){
				$("#templateItemsMedicalConsultation").remove();
				return;
			});
		});
		
		
		
		var itemsHelper = {
				deleteLineMedicalConsultation: function(id){
					$("#row_" + id).remove();
				}
		
		}
		

	</script>
</body>
</html>